
main .container-lg {

    & > section, .article, .user {
        background-color: white;
        margin-bottom: 12px;
    }

    section {

        .search {
            width: 100%;
            margin: 16px 20px;
            position: relative;

            input {
                padding-right: 40px;
                border-radius: 0;
            }

            .input-group-append {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 999;
                border: none;

                &:hover {
                    background-color: transparent;
                }

                svg {
                    fill: rgb(143, 170, 180);
                }
            }
        }

        nav {
            width: 100%;
            margin-bottom: 16px;

            .nav {
                padding: 0 20px;

                a {
                    padding-right: 0;
                    padding-left: 0;
                    line-height: 2rem;

                    margin-right: 24px;

                    background-color: transparent;
                    border: none;

                    label {
                        color: rgb(111, 117, 119) !important;
                        text-transform: uppercase;
                        font-weight: 500;
                        transition: 0.2s color;
                    }

                    &:hover {
                        label {
                            color: rgb(77, 128, 170) !important;
                        }
                    }

                    &.active {
                        background-color: transparent;
                        border-bottom: 2px solid rgb(77, 128, 170);

                        label {
                            color: rgb(77, 128, 170) !important;
                        }
                    }

                    label {
                        cursor: pointer;
                        margin: 0;

                        input {
                            display: none;
                        }
                    }
                }
            }

        }
    }
}
